<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap" rel="stylesheet">
    <title>Telegram Monitoring</title>
</head>
<body style="margin: 0;padding: 0;font-family: 'Montserrat', sans-serif;">
    <header class="body-font">
        <div class="container mx-auto flex flex-wrap flex-col pt-10 md:flex-row items-center">
          <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
              <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
            </svg>
            <a class="ml-3 text-xl" href="/">Tailblocks</a>
          </a>
          <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
            <a class="mr-5 hover:text-gray-900">First Link</a>
            <a class="mr-5 hover:text-gray-900">Second Link</a>
            <a class="mr-5 hover:text-gray-900">Third Link</a>
            <a class="mr-5 hover:text-gray-900">Fourth Link</a>
          </nav>
          <button class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">Button
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </button>
        </div>

        <div class="container mx-auto mb-10">
            <div class="grid grid-cols-4 gap-10 mt-20">
                    <div class="card w-full border-2 border-indigo-600 rounded-lg p-14 h-96">
                        <img class="items-center h-24 w-24 rounded-full mx-auto" style="background: url(<%= avatar %>); background-size: cover;">
                        <p class="other text-center text-3xl mt-3 font-black">
                            <%= name %>
                        </p>
                        <p class="text-center mt-2" style="width: auto;"><%= description %></p>
                        <div class="flex mt-8">
                            <div class="w-full border-2 border-indigo-700 p-2 rounded-lg hover:text-white hover:bg-indigo-700">
                                <p class="text-center"><%= nickname %></p>
                            </div>
                        </div>
                    </div>
                <div class="col-span-3 ml-5">
                    <%- mark %>
                </div>

                <style>
                    .h-96 {
                        height: 28rem;
                    }


                    h1 {
                        font-size: 30px;
                        font-weight: 900;
                    }

                    h2 {
                        font-size: 26px;
                        font-weight: 900;
                    }

                    h3 {
                        font-size: 23px;
                        font-weight: 900;
                    }

                    h4 {
                        font-size: 20px;
                        font-weight: 900;
                    }
                </style>
                </div>
            </div>
        </div>
      </header>
</body>
</html>